header {
    background-color: #294969;
    color: ghostwhite;
    padding: 10px 15px;
    border: 12px solid gold;
    border-bottom-color: indigo;
    margin: -12px -12px 20px;

}

footer {
    width: 200px;
    padding: 4px;
    border: 2px solid #ffa949;
    margin: 30px auto 15px;
    color: #6895d0;
    font-size: .8rem;
    text-align: center;
}